body {
width: 100%;
min-height: 100%;
font-size: 14px;
}


.banner {
position: relative;
height: 300px;
width: 100%;
text-align: center;
background-image: linear-gradient(43deg, #4158d0, #c850c0);
background-size: 400%;
background-position: 0 100%;
animation: bganimation 15s ease-in-out infinite;
transform: translateZ(0);
}
.banner h2 {
font-size: 28px;
line-height: 90px;
color: #fff;
font-weight: 500;
padding-top: 32px;
}
.banner .search {
width: 480px;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
margin: 0 auto;
}
.el-input {
position: relative;
font-size: 14px;
display: inline-block;
width: 100%;
}
.banner .search .el-input input {
font-size: 14px !important;
height: 36px;
text-indent: 6px;
border-radius: 36px;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
font-size: 14px;
border: none;
background: #f6f6f6;
width: 100%;
}
.banner .search .el-button {
width: 80px;
height: 36px;
border-radius: 36px;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
padding: 8px 0;
background: #068eff;
border: #068eff;
color: #282828;
}
.i-icon {
display: inline-block;
color: inherit;
font-style: normal;
line-height: 0;
text-align: center;
text-transform: none;
vertical-align: -0.125em;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
svg {
vertical-align: middle;
text-anchor: middle;
dominant-baseline: middle;
}
.i-icon svg {
-webkit-transform: translateY(-2px);
-ms-transform: translateY(-2px);
transform: translateY(-2px);
}
.banner .data {
position: absolute;
bottom: -60px;
z-index: 2;
left: 50%;
-webkit-transform: translate(-50%);
-ms-transform: translate(-50%);
transform: translate(-50%);
background-color: #fff;
--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
-webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
  var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
  var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
width: 890px;
height: 120px;
margin: 0 auto;
border-radius: 8px;
}
.el-row {
position: relative;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.banner .data .el-col:first-child,
.banner .data .el-col:nth-child(2) {
border-right: 1px solid #eee;
}
.banner .data .el-col,
.banner .data .el-row {
height: 100%;
}
.el-col-8 {
width: 33.33333%;
}
[class*="el-col-"] {
float: left;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.el-footer {
padding: 0 20px;
-webkit-flex-shrink: 0;
-ms-flex-negative: 0;
flex-shrink: 0;
}

.el-footer,
.el-main {
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
  Microsoft YaHei, 微软雅黑, Arial, sans-serif;
}
.el-footer {
/* margin-top: 60px; */
padding: 0 !important;
}
[data-theme="light-theme"] .footer {
color: #333435;
}

.footer {
width: 100%;
}
.footer .copyright {
text-align: center;
line-height: 40px;
border-top: 1px solid rgba(188, 198, 208, 0.4);
font-size: 12px;
}
@keyframes bganimation {
0% {
  background-position: 0% 50%;
}

50% {
  background-position: 100% 50%;
}

100% {
  background-position: 0% 50%;
}
}


